.wrapper {
background: cadetblue;
padding: 9vw;
text-align: center;
}
.buttons{
  border-radius: 20%;
  
}
.btn , btn-primary{
  margin: 1vw;
}
h1{
  font-size: 4vw;
}
.Time{
  font-size: 70px;
}